//- article item 
mixin articles(articles)
  each a in articles
    div.article-item
      a(href='/article/#{a.id}')
        h3.cn-title #{a.cnTitle}
      
      div.info-wap
        //a(href='/u/#{a.creator.name}') #{a.creator.name}&nbsp;
        //span 发表在&nbsp;
        //a(href='/topic/#{a.topic.id}') #{a.topic.title}
        //
        //span.divider

        span #{a.createTime}

      span.completion #{a.completion}%