//- article item 
mixin articles(articles)
  each a in articles
    div.article-item
      a(href='/article/#{a.id}')
        h3.en-title #{a.cnTitle}

      h4.cn-title #{a.enTitle}
      
      div.info-wap            
        a(href='/u/#{a.creator.name}') #{a.creator.name}&nbsp;
        span 发表在&nbsp;
        a(href='/topic/#{a.topic.id}') #{a.topic.title}

        span.divider

        span 作者：
        span #{a.author}

        //- span.divider

        //- span 链接：
        //- a(href='#{a.url}', target="_blank")
        //-   i.icon-link

        span.completion #{a.completion}%