//- collection item
mixin collection(cols)
  for c in cols
    a.c-item(href='/collection/#{c.id}')
      h3 #{c.title}
      p #{c.intro}

      div.a-count #{c.articleCount}篇

//- collection item of a certain type
mixin tcollection(cols, type)
  for c in cols
    if c.type === type
      a.c-item(href='/collection/#{c.id}')
        h3 #{c.title}
        p #{c.intro}

        div.a-count #{c.articleCount}篇