//- comments
mixin articleComments(comments)
  for c in comments
    div.comment-item
      img.c-user-avatar(src="#{c.user.avatarUrl}")
      div.c-content-wap
        div.c-user
          a(href="/u/#{c.user.name}") #{c.user.name}
        div.c-content #{c.content}
        div.c-time #{c.createTime}
      if locals.cookies.user && locals.cookies.user.id === c.article.creator.toString()
        a.button.btn-remove-comment(href='/comment/#{c.id}/remove') 删除评论

mixin userComments(comments)
  for c in comments
    div.comment-item
      img.c-user-avatar(src="#{c.user.avatarUrl}")
      div.c-content-wap
        div.c-user
          | 在&nbsp;
          a(href="/article/#{c.article.id}") #{c.article.cnTitle}&nbsp;
          | 中回复:
        div.c-content #{c.content}
        div.c-time #{c.createTime}