//- error list
mixin errors()
  if typeof form !== "undefined" && form.errors
    ul.error-list
      for e in form.errors
        li #{e}

//- text field
mixin text(name, placeholder)
  -var value = ''
  //- if this filed has value
  if typeof form !== "undefined" && form[name]
    //- if post
    if form.getErrors
      //- if no errors
      if form.getErrors(name).length === 0
        value = form[name]
    else  //- if get
      value = form[name]
  input(type="text", placeholder="#{placeholder}", name='#{name}', value='#{value}')

//- password field
mixin password(name, placeholder)
  -var value = ''
  if typeof form !== "undefined" && form[name]
    if form.getErrors
      if form.getErrors(name).length === 0
        value = form[name]
    else
      value = form[name]
  input(type="password", placeholder="#{placeholder}", name='#{name}', value='#{value}')

//- textarea field
mixin textarea(name, placeholder, rows)
  -var value = ''
  if typeof form !== "undefined" && form[name]
    if form.getErrors
      if form.getErrors(name).length === 0
        value = form[name]
    else
      value = form[name]
  textarea(name='#{name}', placeholder='#{placeholder}', rows='#{rows}') #{value}

//- select
mixin select(name, options)
  select(name='#{name}')
    each val, key in options
      if typeof form !== "undefined" && form[name] && form[name] === key
        option(value='#{key}', selected='selected') #{val}
      else
        option(value='#{key}') #{val}