//- error list
mixin errors()
  if typeof form !== "undefined" && form.errors
    ul.error-list
      for e in form.errors
        li #{e}

//- text field
mixin input(name, placeholder)
  -var value = ''
  //- if typeof form !== "undefined" && form[name] && form.getErrors(name).length == 0
  if typeof form !== "undefined" && form[name]
    value = form[name]
  input(type="text", placeholder="#{placeholder}", name='#{name}', value='#{value}')

//- password field
mixin password(name, placeholder)
  -var value = ''
  if typeof form !== "undefined" && form[name]
    value = form[name]
  input(type="password", placeholder="#{placeholder}", name='#{name}', value='#{value}')

//- textarea field
mixin textarea(name, placeholder, rows)
  -var value = ''
  if typeof form !== "undefined" && form[name]
    value = form[name]
  textarea(name='#{name}', placeholder='#{placeholder}', rows='#{rows}') #{value}

mixin select(name, options, defaultValue)
  select(name='#{name}')
    for o in options
      option(value='#{o.key}') #{o.value}