//- user info selector
mixin userInfo(active)
  div.button-set.place-right(data-role='button-set')
    if active === 'article'
      a.button(href='/u/#{u.name}')
        | 译文 #{u.articleCount}

    if active === 'collect'
      a.button(href='/u/#{u.name}/collects')
        | 收藏 #{u.collectCount}

    if active === 'comment'
      a.button.active(href='/u/#{u.name}/comments')
        | 回复 #{u.commentCount}
