extends layout

block vars
  -var title='Transy'
  -var page='page-index'

block content
  div.row
    div.span8
      each a in articles
        div.article-item
          a(href='/article/#{a.id}')
            h3.en-title #{a.enTitle}

          h4.cn-title #{a.cnTitle}

          div.info-wap
            span By&nbsp;
            span
              a(href='/u/#{a.creator.name}') #{a.creator.name}

            //- span.divider

            span.completion #{a.completion}%
    
    div.span4
      //- h3 近期热门
