extends layout

block vars
  -var title='Transy'
  -var page='page-index'

block content
  div.row
    div.span8
      h2.page-header 最新译文

      each a in articles
        div.article-item
          a(href='/article/#{a.id}')
            h3.en-title #{a.cnTitle}

          div.info-wap
            span By&nbsp;
            span
              a(href='/u/#{a.creator.name}') #{a.creator.name}

            span.divider

            span 来源：
            a(href='#{a.url}', target="_blank") #{a.urlHost}
              //- i.icon-link


    
    div.span4
      h4 近期热门
