extends layout

block vars
  -var title='Transy'
  -var page='page-index'

block content
  div.row
    div.span8
      h2.page-header 最新译文

      each a in articles
        div.article-item
          a(href='/article/#{a.id}')
            h3.en-title #{a.cnTitle}

          div.info-wap            
            a(href='/u/#{a.creator.name}') #{a.creator.name}&nbsp;
            span 发表在&nbsp;
            a(href='#{a.url}', target="_blank") 教育

            span.divider

            span 作者：
            span #{a.author}

            //- span 来源：
            //- a(href='#{a.url}', target="_blank") #{a.urlHost}
    
    div.span4
      h4 近期热门
