extends layout

block content
  div.row
    div.span8
      each a in articles
        div.article-item
          a(href='/article/#{a.id}')
            h2 #{a.enTitle}

          p.abstract #{a.abstract}

          div.completion-info
            div.progress-bar
              div.bar.bg-color-green(style='width: #{a.completion}%')
            div.completion-num #{a.completion}%
    
    div.span4
      //- h3 近期热门
