extends ../layout
include ../mixin/comment

block vars
  -var title = u.name + '的回复'
  -var page =' page-user-comments'

block content
  div.row
    div.span8
      h2.page-header #{u.name} / 回复

    div.span4
      div.button-set.place-right(data-role='button-set')
        a.button(href='/u/#{u.name}')
          | 译文 #{u.articleCount}

        a.button(href='/u/#{u.name}/collects')
          | 收藏 #{u.collectCount}

        a.button.active(href='/u/#{u.name}/comments')
          | 回复 #{u.commentCount}
  
  div.clear.mb5

  mixin userComments(comments)
