extends ../layout

block vars
  -var title='我'
  -var page='page-me'

block content
  div.row
    div.span8
      h2.page-header 我的译文

      each a in articles
        div.article-item
          a(href='/article/#{a.id}')
            h3.en-title #{a.enTitle}

          h4.cn-title #{a.cnTitle}

          div.info-wap
            span 发表在&nbsp;
            a(href='#{a.url}', target="_blank") 教育

            span.divider

            span 作者：
            span #{a.author}

            span.divider

            span 链接：
            a(href='#{a.url}', target="_blank")
              i.icon-link

            span.completion #{a.completion}%

    div.span4
      div.button-set.place-right(data-role='button-set')
        a.button.active(href='/me')
          | 译文

        a.button(href='/my/love')
          | 收藏

        a.button(href='/my/collections')
          | 选集