extends ../layout

block vars
  -var title=article.cnTitle
  -var page='page-article'

block content

  :coffeescript
    $ ->
      $('.btn-delete').click ->
        if not confirm('Really to delete this article?')
          false

      # display mode: ec, cn ,en
      mode = 'ec'
      id = $('.en-title').data('article-id')

      # select view mode
      $('.btn-sel-ec').click ->
        $('.en').show()
        $('.cn').show()
        mode = 'ec'

      $('.btn-sel-en').click ->
        $('.en').show()
        $('.cn').hide()
        mode = 'en'

      $('.btn-sel-cn').click ->
        $('.en').hide()
        $('.cn').show()
        mode = 'cn'

      $('.btn-output').click ->
        window.open("/article/#{id}/output/#{mode}", "_blank")

  h2.en-title(data-article-id="#{article.id}") #{article.enTitle}
  h2.cn-title #{article.cnTitle}

  div.info-wap
    a(href='/u/#{article.creator.name}') #{article.creator.name}&nbsp;
    span.fg-color-gray 发表在&nbsp;
    a(href='/topic/#{article.topic.id}') #{article.topic.title}

    span.divider
    
    span 作者：
    span #{article.author}

    span.divider

    span 链接：
    a(href='#{article.url}', target="_blank") 
      //- #{article.urlHost}
      i.icon-link

    span.completion #{article.completion}%

  div.row
    div.span8
      each p in article.paraList
        div.para-list
          if p.type === 'header'
            h3.en #{p.en}
            if p.cn !== ''
              h3.cn #{p.cn}
          else if p.type === 'text'
            p.en #{p.en}
            if p.cn !== ''
              p.cn #{p.cn}
          else if p.type === 'quote'
            blockquote.en #{p.en}
            if p.cn !== ''
              blockquote.cn #{p.cn}
          else if p.type === 'image'
            img(src='#{p.en}')

      //- comment form
      form(action='/article/#{article.id}/reply', method='post')
        div.input-control.text
          textarea(name='comment', placeholder='评论')
        input(type='submit', value='提交')

    div.span4
      div.button-set.place-right(data-role='button-set')
        button.btn-sel-cn 中
        button.btn-sel-ec.active 中 / 英
        button.btn-sel-en 英

      div.button-set.clearfix
        a.button.btn-output.place-right
          i.icon-printer
          | 导出

        if locals.cookies.user
          if locals.cookies.user.id == article.creator._id
            a.button.place-right.btn-delete(href='/article/#{article.id}/delete')
              i.icon-remove
              | 删除

            a.button.place-right(href='/article/#{article.id}/edit')
              i.icon-pencil
              | 编辑
          else
            if isCollect
              a.button.place-right(href='/article/#{article.id}/discollect')
                i.icon-heart
                | 取消收藏
            else
              a.button.place-right(href='/article/#{article.id}/collect')
                i.icon-heart-2
                | 收藏

