extends ../layout

block vars
  -var title=article.cnTitle
  -var page='page-article'

block content
  script(src='/js/article.js')

  h2.cn-title(data-article-id="#{article.id}") #{article.cnTitle}
  h3.en-title #{article.enTitle}
  
  div.info-wap
    span 作者：
    span #{article.author}

    span.divider

    span 来源：
    a(href='#{article.url}', target="_blank") #{article.urlHost}

    span.completion #{article.completion}%

  mixin article(paraList)
    - var inList = false
    - var enListHTML = ""
    - var cnListHTML = ""

    each p in paraList
      //- if list ends, output it
      if p.type !== 'list' && inList
        - inList = false
        div.para-list
          ul.en !{enListHTML}
          ul.cn !{cnListHTML}

      case p.type
        when 'list'
          if !inList
            - inList = true
            - enListHTML = ""
            - cnListHTML = ""
          - enListHTML += "<li>" + p.en + "</li>"
          if p.cn !== ''
            - cnListHTML += "<li>" + p.cn + "</li>"
        when 'header'
          div.para-list
            h3.en #{p.en}
            if p.cn !== ''
              h3.cn #{p.cn}
        when 'text'
          div.para-list
            p.en #{p.en}
            if p.cn !== ''
              p.cn #{p.cn}
        when 'quote'
          div.para-list
            blockquote.en #{p.en}
            if p.cn !== ''
              blockquote.cn #{p.cn}            
        when 'image'
          div.para-list
            img(src='#{p.en}')

  div.row
    div.span8
      div.mb25
        mixin article(article.paraList)

    div.span4
      div.button-set.place-right(data-role='button-set')
        button.btn-sel-cn 中
        button.btn-sel-ec.active 中 / 英
        button.btn-sel-en 英

      div.button-set.clearfix
        a.button.btn-output.place-right
          i.icon-printer
          | 导出

        if locals.cookies.user
          if locals.cookies.user.id === article.creator._id.toString()
            a.button.place-right.btn-delete(href='/article/#{article.id}/delete')
              i.icon-remove
              | 删除

            a.button.place-right(href='/article/#{article.id}/edit')
              i.icon-pencil
              | 编辑
          else
            if isCollect
              a.button.place-right(href='/article/#{article.id}/discollect')
                i.icon-heart
                | 取消收藏
            else
              a.button.place-right(href='/article/#{article.id}/collect')
                i.icon-heart-2
                | 收藏