extends ../layout

block content

  :coffeescript
    $ ->
      $('.btn-delete').click ->
        if not confirm('Really to delete this article?')
          false

      # select view mode
      $('.btn-sel-ec').click ->
        $('.en').show()
        $('.cn').show()

      $('.btn-sel-en').click ->
        $('.en').show()
        $('.cn').hide()

      $('.btn-sel-cn').click ->
        $('.en').hide()
        $('.cn').show()

  div.row
    div.span8
      div.title
        h2.en.enTitle #{article.enTitle}
        h2.cn.cnTitle #{article.cnTitle}

      //- div.completion-wap
      //-   span.label.warning 进度
      //-   div.progress-bar
      //-     div.bar.bg-color-green(style='width: #{a.completion*100%')
      //-   span #{a.completion*100%
      span.completion #{article.completion*100}%

      p.url-wap
        span.label.warning 链接
        a(href='#{article.url}', target="_blank") #{article.url}

      p.abstract-wap
        span.label.warning 摘要
        span #{article.abstract}

      each p in article.paraList
        div.para-list
          if p.type === 'mheader'
            h3.en #{p.en}
            if p.cn !== ''
              h3.cn #{p.cn}
          else if p.type === 'mheader' 
            h4.en #{p.en}
            if p.cn !== ''
              h4.cn #{p.cn}
          else if p.type === 'text'
            p.en #{p.en}
            if p.cn !== ''
              p.cn #{p.cn}
          else if p.type === 'quote'
            blockquote.en #{p.en}
            if p.cn !== ''
              blockquote.cn #{p.cn}
          else if p.type === 'image'
            img(src='#{p.en}')

    div.span4
      div.button-set.place-right(data-role='button-set')
        button.btn-sel-cn 中
        button.btn-sel-ec.active 中 / 英
        button.btn-sel-en 英

      div.button-set.clearfix
        a.button.place-right.btn-delete(href='/article/#{article.id}/delete')
          i.icon-remove
          | 删除

        a.button.btn-output.place-right
          i.icon-printer
          | 导出

        a.button.place-right(href='/article/#{article.id}/edit')
          i.icon-pencil
          | 编辑