extends ../layout

block vars
  -var title = '翻译'
  -var page = 'page-edit-article'

block content
  script(src='/js/lib/jquery.imagesLoaded.js')
  script(src='/js/lib/keymaster.js')
  script(src='/js/edit-article.js')

  div.title.clearfix(data-article-id='#{article.id}')
    input.cn-title(value='#{article.cnTitle}', placeholder="待译标题")
    input.en-title(value='#{article.enTitle}') 

  div.author-wap
    span.label.warning 作者
    input.author(value='#{article.author}')
  
  div.url-wap
    span.label.warning 链接
    input.url(value='#{article.url}')
    
  each p in article.paraList
    div.clearfix.para(data-type='#{p.type}')
      if p.type == 'image'
        div.en
          img(src='#{p.en}')
        div.ec-divider(data-state='#{p.state}')
          div.focus-flag
        div.cn
          img(src='#{p.cn}')
      else
        div.en(contenteditable='true') #{p.en}
        div.ec-divider(data-state='#{p.state}')
          div.focus-flag
        div.cn(contenteditable='true') #{p.cn}

  div.save-wap
    div.save-state
      img.state-waiting(src='/images/preloader-w8-cycle-white.gif')
      i.icon-checkmark.state-ok
    div.toolbar
      button.save-btn(title="保存")
        i.icon-save
      a(href="/article/#{article.id}", title="浏览")
        i.icon-arrow-left-3

  //- context menu
  ul.context-menu
    li.only-for-text 格式
      ul.sub-menu
        li.header 标题
        li.text 正文
        li.quote 引用
        li.list 列表
    li.add-para 增加段落
      ul.sub-menu
        li.up 上方
        li.down 下方
    li.remove-para 删除段落
    //- li.add-annotation.only-for-text 插入注解

