extends ../layout

block content
  script(src='/js/jquery.imagesLoaded.js')
  script(src='/js/ts.edit-article.js')

  a(href="/article/#{article.id}").back-button.place-right

  div.title(data-article-id='#{article.id}')
    h2.en-title(contenteditable='true') #{article.enTitle}
    h2.title-divider /
    h2.cn-title(contenteditable='true', placeholder="中文标题") #{article.cnTitle}
  
  div.url-wap
    span.label.warning 链接
    span.url(contenteditable='true') #{article.url}

  div.abstract-wap
    span.label.warning 摘要
    span.abstract(contenteditable='true') #{article.abstract}
    
  each p in article.paraList
    div.clearfix.para(data-type='#{p.type}')
      if p.type == 'image'
        div.en
          img(src='#{p.en}')
        div.ec-divider(data-state='#{p.state}')
          div.focus-flag
        div.cn
          img(src='#{p.cn}')
      else
        div.en(contenteditable='true') #{p.en}
        div.ec-divider(data-state='#{p.state}')
          div.focus-flag
        div.cn(contenteditable='true') #{p.cn}

  button.btn-save.place-right
    i.icon-save
    | 保存

  //- context menu
  ul.context-menu
    li.only-for-text 格式
      ul.sub-menu
        li.mheader 主标题
        li.sheader 子标题
        li.text 正文
        li.quote 引用
    li.add-para 增加段落
    li.remove-para 删除段落

