extends ../layout

block vars
  -var title='我的译文'
  -var page='page-my-article'

block content
  div.row
    div.span8
      each a in articles
        div.article-item
          a(href='/article/#{a.id}')
            h3.en-title #{a.enTitle}

          h4.cn-title #{a.cnTitle}

          div.info-wap
            span 作者：
            span #{a.author}

            span.divider

            span 原文链接：
            a(href='#{a.url}', target="_blank")
              i.icon-link

            span.completion #{a.completion}%
